@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.mat-mdc-card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
